body {
  background-color: #eee;
}

.wrapper {
  min-height: 100vh;
  padding: 50px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
}

img {
  margin: 0;
  width: 100%;
  display: block;
  height: auto !important;
  vertical-align: bottom;
}

h3 {
  margin-top: 0;
}

.image {
  display: inline-block;
  position: relative;
}

div.flexContainer {
  display: flex;
}

div.flexContainer .column {
  width: 50%;
}

#imageGrid {
  margin-top: 30px;
}

.flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  flex-wrap:wrap;
}

label {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

input[type=text]{
  width: 90%;
  margin: 15px 0;
  padding: 20px;
  font-size: 20px;
}
